<% if in_mobile_view? %>
    <% content_for(:panel_title) do %>
        <%= event.pair %>
        <%= event.abbr_disc %>
        <%= event.name_aud %>
    <% end %>
<% else %>
  <span class="card-title black-text">
  <%= link_to(fa_icon('qrcode', class: 'fa-2x'), event_path(event, :format => 'qr')) %>
      <%= event.pair %>
      <%= event.abbr_disc %>
      <%= event.name_aud %>
</span>
<% end %>

<% unless event.items.blank? %>
    <ul class='collection'>
      <% event.items.each do |item| %>
          <li class="collection-item">
            <%= render partial: "/items/#{item.type.downcase}/show", locals: {item: item} %>
          </li>
      <% end %>
    </ul>
<% else %>
    <ul class='collection'></ul>
<% end %>
