<% content_for :sidebar do %>
    <ul class="nav nav-list">
      <% Item::SUB_TYPES.each do |k, v| %>
          <li class='newItem' data-type='<%= k.to_s %>'>
          <span>
            <%= fa_icon v.icon, class: 'fa-3x' %>
            <%= t(k.to_s+'.new') %>
          </span>
          </li>
      <% end %>
    </ul>
    <%= t 'action.add_item' %>
<% end %>

<div id="events">
  <% unless @events.blank? %>
    <% @events.group_by { |x| x.date }.sort_by{|x,y| x}.each do |date, events| %>
        <h5 class="lshift"><%= date.strftime('%e/%-m/%Y') %></h5>
        <% events.sort_by { |x| x.pair }.each do |event| %>
            <%= content_tag :div, class: 'card event', id: event.id do %>
                <div class="card-content">
                   <%= render partial: 'show', locals: {event: event} %>
                </div>
            <% end %>
        <% end %>
    <% end %>
  <% else %>
  <div class="center">
      <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x primary"></i>
          <i class="fa fa-question fa-inverse fa-stack-1x"></i>
      </span><br/>
      <h1>Пока ничего нет</h1>
  </div>
  <% end %>
</div>

